<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Popular Tv Shows</title>
</head>
<body>
    <div style="text-align:center">
        {{pageTitle}}
    </div>
    <table >
        <tr *ngFor = "let thing of shows" >
            <td>{{thing.name}}</td>
            <td><img [src] = "{{thing.poster_path}}"></td>
            <td>{{thing.first_air_date}}</td>
            <td>{{thing.overview}}</td>
        </tr>
    </table>
</body>
</html>